@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: Verdana, sans-serif;
	margin: auto;
	padding: 20px;
	max-width: 65ch;
	text-align: left;
	background-color: #fff;
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
	color: #444;
}

	@media (prefers-color-scheme: dark) {
		body {
			color: #fff;
		}
	}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
	color: #222;
}


	@media (prefers-color-scheme: dark) {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		strong,
		b {
			color: theme(colors.gray.300);
		}
	}
