---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import PageRoot from '../layouts/PageRoot.astro'
import QRCode from '../components/QRCode.svelte'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

---

<PageRoot>
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<div class="max-w-lg mx-auto p-3">

      <QRCode client:load/>

			</section>
		</main>
		<Footer />
		</div>
	</body>
</PageRoot>