---
const today = new Date();
import Social from "./Social.astro";
---

<footer class="flex items-center mt-10 py-2 pb-4 text-neutral-content text-center">
	<span class="mr-2 text-xs">&copy; {today.getFullYear()} Craig MacIntyre.</span>
	<Social />	
</footer>

