---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
// import { Icon } from 'astro-icon';
---

<header>
	<h2 class="text-nord12 text-3xl font-bold">
		<HeaderLink href="/">
			{SITE_TITLE}
		</HeaderLink>
	</h2>
	<nav>
		<HeaderLink href="https://twitter.com/cmac2712" target="_blank">
			<!-- <Icon class="icon" name="twitter" />	 -->
		</HeaderLink>
		<HeaderLink href="https://github.com/cmac2712" target="_blank">
			<!-- <Icon class="icon" name="github" />	 -->
		</HeaderLink>
	</nav>
</header>
<style>
	nav a {
		margin-right: .5rem;
	}
	header {
		margin: 0em 0 2em;
	}
	h2 {
		margin: 0.5em 0;
	}
	.icon {
		width: 25px;
		height: 25px;
		color: #eee;
		fill: #eee;
	}
</style>
