---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import { Icon } from 'astro-icon';
---

<header class="py-4 my-4">
	<h3 class="text-2xl">
		<HeaderLink href="/" class="font-bold no-underline mb-4 text-primary font-serif">
			{SITE_TITLE}
		</HeaderLink>
	</h3>
	<nav class="flex mt-4">
		<HeaderLink href="https://twitter.com/cmac2712" aria-label="Go to Craig MacIntyre's Twitter" target="_blank" class="mr-2">
			<Icon class="icon text-neutral-content" pack="mdi" name="twitter" />	
		</HeaderLink>
		<HeaderLink href="https://github.com/cmac2712" aria-label="Go to Craig MacIntyre's GitHub Profile" target="_blank">
			<Icon class="icon text-neutral-content" pack="mdi" name="github" />	
		</HeaderLink>
	</nav>
</header>

<style>
	[astro-icon] {
		width: 24px;
	}
</style>