---
import { Icon } from 'astro-icon';
export let className = '';
---

<nav class={`flex ${className}`}>
    <a href="https://twitter.com/cmac2712" aria-label="Go to Craig MacIntyre's Twitter" target="_blank" class="mr-2">
        <Icon class="icon text-neutral-content w-6" pack="mdi" name="twitter" />	
    </a>
    <a href="https://github.com/cmac2712" aria-label="Go to Craig MacIntyre's GitHub Profile" target="_blank">
        <Icon class="icon text-neutral-content w-6" pack="mdi" name="github" />	
    </a>
</nav>